@page
@model RazorPagesMegaDesk.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Desk Quotes";
}

<h1 class="text-info">Desk Quotes</h1>


<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Customer Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DeliveryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.NumberOfDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Desk.SurfaceMaterial.DesktopMaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuote)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryType.DeliveryType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.Depth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.NumberOfDrawers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.SurfaceMaterial.DesktopMaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
